<html>
<head>
    <meta charset="UTF-8">
    <title>Liste des Reservations</title>
</head>
<body>
<table id="customers">
    <thead>
    <tr>
        <th> id </th>
        <th>Nombre de personnes</th>
        <th>Date d'arrivée</th>
        <th>Date de retour</th>
    </tr>
    </thead>
    <tbody>
    {% for reservation in Reservations %}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.nbrPers }}</td>
            <td>{{ reservation.date ? reservation.date|date('d-m-Y') : '' }}</td>
            <td>{{ reservation.dateR ? reservation.dateR|date('d-m-Y') : '' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }

</style>