{% extends 'base-back.html.twig' %}
{% block title %}New Activite{% endblock %}

{% block body %}
    <h1>Create new Activite</h1>

    {{ include('activite/_form.html.twig') }}

    <a href="{{ path('indexback') }}">back to list</a>
{% endblock %}
